Environment:
  description: |-
    Environments define high level connection points between two providers.

    Environment resources support the following
    1. Conveying to end customers where and how two providers can be connected.
    2. Display information for describing these environments.

    Providers exchange environment information when establishing connectivity and
    this resource is provided for troubleshooting and validation purposes.
    Providers generally have a local copy of this information and do not need to
    request it when servicing requests.
  example:
    providerSites:
    - site: site
      providerId: providerId
      displayName: displayName
    - site: site
      providerId: providerId
      displayName: displayName
    apiUri: apiUri
    supportedFeatures:
    - FEATURE_TYPE_L3_BASE
    - FEATURE_TYPE_L3_BASE
    name: providers/my-provider/environments/my-environment
    environmentVisibility: ""
    supportedConnectionSizeMbps:
    - 0
    - 0
  properties:
    name:
      description: Identifier. Unique identifier for an Environment resource.
      type: string
    providerSites:
      description: |-
        Output only. A unique mapping between a provider and a site code.  This field should
        never contain more than 2 entries.  One entry should be a mapping
        between the server's provider ID and a site identifier, the other entry
        should be the parent provider ID and a site identifier.

        Example: [
                    {"providerId": "provider1", "site": "us-east4"},
                    {"providerId": "provider2", "site": "us-east1"},
                  ]
      items:
        $ref: "#/ProviderSites"
      readOnly: true
      type: array
    apiUri:
      description: |-
        API endpoint for communicating with the parent provider about this
        environment resource and all child resources.

        Example:
        remoteprovider.com/projects/123/locations/us-east4/
      type: string
    supportedConnectionSizeMbps:
      description: |-
        Output only. A list of Mbps connection sizes supported by all interconnects in the
        environment.
      items:
        format: int32
        type: integer
      readOnly: true
      type: array
    supportedFeatures:
      description: Output only. A list of features supported by all interconnects
        in the environment.
      items:
        $ref: "feature.yaml#/FeatureType"
      readOnly: true
      type: array
    environmentVisibility:
      allOf:
      - $ref: "#/EnvironmentVisibility"
      description: |-
        Output only. Controls the visibility of this environment in the provider's customer
        facing APIs.
      readOnly: true
  type: object

ProviderSites:
  description: A mapping of a provider id to their API and display names for sites.
  example:
    site: site
    providerId: providerId
    displayName: displayName
  properties:
    providerId:
      description: Which provider this site data is associated with.
      type: string
    site:
      description: A provider specific site name (e.g. us-east4).
      type: string
    displayName:
      description: A display name for the site for use in customer facing UI.
      type: string
  type: object

EnvironmentVisibility:
  description: |-
    Enum that describes the visibility of an environment.
      ENVIRONMENT_VISIBILITY_PRIVATE - A private environment has limited visibility (as jointly defined by
    providers) to an individual or small number of customers.
    ENVIRONMENT_VISIBILITY_PUBLIC - A public environment is visible to all provider customers with little to no
    restriction.
  enum:
  - ENVIRONMENT_VISIBILITY_PRIVATE
  - ENVIRONMENT_VISIBILITY_PUBLIC
  type: string

ListEnvironmentsResponse:
  description: Response for obtaining multiple environment resources.
  example:
    environments:
    - providerSites:
      - site: site
        providerId: providerId
        displayName: displayName
      - site: site
        providerId: providerId
        displayName: displayName
      apiUri: apiUri
      supportedFeatures:
      - FEATURE_TYPE_L3_BASE
      - FEATURE_TYPE_L3_BASE
      name: providers/my-provider/environments/my-environment
      environmentVisibility: ""
      supportedConnectionSizeMbps:
      - 0
      - 0
    - providerSites:
      - site: site
        providerId: providerId
        displayName: displayName
      - site: site
        providerId: providerId
        displayName: displayName
      apiUri: apiUri
      supportedFeatures:
      - FEATURE_TYPE_L3_BASE
      - FEATURE_TYPE_L3_BASE
      name: name
      environmentVisibility: ""
      supportedConnectionSizeMbps:
      - 0
      - 0
    nextPageToken: nextPageToken
  properties:
    environments:
      description: The environments from the specified provider.
      items:
        $ref: "#/Environment"
      type: array
    nextPageToken:
      description: |-
        A token, which can be sent as `page_token` to retrieve the next page.
        If this field is omitted, there are no subsequent pages.
      type: string
  type: object
  
ConfirmActivationKeyRequest:
  description: |-
    Request to confirm the validity of a activation key provided by a remote
    provider.
  example:
    key: ""
  properties:
    key:
      allOf:
      - $ref: "#/ActivationKey"
      description: Activation key to be confirmed.
  type: object

ActivationKey:
  description: |-
    Activation Keys contain all information needed by a provider to validate a
    activation proposal between two provider.

    The activation key should be base64 encoded whenever it is exchanged between
    providers.  This helps prevent accidental corruption of the key when
    transferring it between clouds.
  properties:
    version:
      description: |-
        Required. Version of the ActivationKey itself. The version should
        match the API version on the creating service.
      format: int32
      type: integer
    destinationEnvironmentUri:
      description: |-
        Required. The destination environment URI this activation key is
        intended for use at.
      type: string
    sharedConnectionUuid:
      description: Required. The UUID assigned to this connection to be used by
        both services.
      type: string
    connectionSizeMbps:
      description: Required. Size of the connection to be provisioned in mbps.
      format: int32
      type: integer
    destinationAccountId:
      description: |-
        Required. User supplied account id/number on the destination CSP.
        Receiving service MUST verify that the activation key was provided from an authorized user of this account.
      type: string
  required:
  - connectionSizeMbps
  - destinationAccountId
  - destinationEnvironmentUri
  - sharedConnectionUuid
  - version
  type: object

ConfirmActivationKeyResponse:
  description: |-
    Response from a provider about the validity of the key and any additional
    metadata that is needed for turn up.
  example:
    keyValid: true
  properties:
    keyValid:
      description: Indicates if the remote CSP believes this key is valid.
      type: boolean
  type: object