description: |-
  Enum that describes the visibility of an environment.
    ENVIRONMENT_VISIBILITY_PRIVATE - A private environment has limited visibility (as jointly defined by
  providers) to an individual or small number of customers.
  ENVIRONMENT_VISIBILITY_PUBLIC - A public environment is visible to all provider customers with little to no
  restriction.
enum:
- ENVIRONMENT_VISIBILITY_PRIVATE
- ENVIRONMENT_VISIBILITY_PUBLIC
type: string
