description: |-
  Environments define high level connection points between two providers.

  Environment resources support the following
  1. Conveying to end customers where and how two providers can be connected.
  2. Display information for describing these environments.

  Providers exchange environment information when establishing connectivity and
  this resource is provided for troubleshooting and validation purposes.
  Providers generally have a local copy of this information and do not need to
  request it when servicing requests.
example:
  providerSites:
  - site: site
    providerId: providerId
    displayName: displayName
  - site: site
    providerId: providerId
    displayName: displayName
  apiUri: apiUri
  supportedFeatures:
  - FEATURE_TYPE_L3_BASE
  - FEATURE_TYPE_L3_BASE
  name: name
  environmentVisibility: ""
  supportedConnectionSizeMbps:
  - 0
  - 0
properties:
  name:
    description: Identifier. Unique identifier for an Environment resource.
    type: string
  providerSites:
    description: |-
      Output only. A unique mapping between a provider and a site code.  This field should
      never contain more than 2 entries.  One entry should be a mapping
      between the server's provider ID and a site identifier, the other entry
      should be the parent provider ID and a site identifier.

      Example: [
                  {"providerId": "provider1", "site": "us-east4"},
                  {"providerId": "provider2", "site": "us-east1"},
                ]
    items:
      $ref: "provider_sites.yaml"
    readOnly: true
    type: array
  apiUri:
    description: |-
      API endpoint for communicating with the parent provider about this
      environment resource and all child resources.

      Example:
      remoteprovider.com/projects/123/locations/us-east4/
    type: string
  supportedConnectionSizeMbps:
    description: |-
      Output only. A list of Mbps connection sizes supported by all interconnects in the
      environment.
    items:
      format: int32
      type: integer
    readOnly: true
    type: array
  supportedFeatures:
    description: Output only. A list of features supported by all interconnects
      in the environment.
    items:
      $ref: "../feature/feature_type.yaml"
    readOnly: true
    type: array
  environmentVisibility:
    allOf:
    - $ref: "environment_visibility.yaml"
    description: |-
      Output only. Controls the visibility of this environment in the provider's customer
      facing APIs.
    readOnly: true
type: object
