description: Response for obtaining multiple environment resources.
example:
  environments:
  - providerSites:
    - site: site
      providerId: providerId
      displayName: displayName
    - site: site
      providerId: providerId
      displayName: displayName
    apiUri: apiUri
    supportedFeatures:
    - FEATURE_TYPE_L3_BASE
    - FEATURE_TYPE_L3_BASE
    name: name
    environmentVisibility: ""
    supportedConnectionSizeMbps:
    - 0
    - 0
  - providerSites:
    - site: site
      providerId: providerId
      displayName: displayName
    - site: site
      providerId: providerId
      displayName: displayName
    apiUri: apiUri
    supportedFeatures:
    - FEATURE_TYPE_L3_BASE
    - FEATURE_TYPE_L3_BASE
    name: name
    environmentVisibility: ""
    supportedConnectionSizeMbps:
    - 0
    - 0
  nextPageToken: nextPageToken
properties:
  environments:
    description: The environments from the specified provider.
    items:
      $ref: "environment.yaml"
    type: array
  nextPageToken:
    description: |-
      A token, which can be sent as `page_token` to retrieve the next page.
      If this field is omitted, there are no subsequent pages.
    type: string
type: object
